{% extends 'layout.html.twig' %}

{% block title %}Ajouter des données de publication{% endblock %}

{% block content %}
<main id="snd-new" class="col-10 p-5">
    <h1>Ajouter des données de publication</h1>

    <a class="my-5 btn btn-primary" href="{{ path('app_post_data_index') }}">Retour à la liste</a>
    {{ include('post_data/_form.html.twig') }}

</main>
{% endblock %}
