<aside id="sidebar" class="col-2 pt-5 px-3">
    <h1>Social Networks Data</h1>
    <nav class="mt-5">
        <h2>Dashboard</h2>
        <ul>
            <li>
                <a href="/index.php">Homepage</a>
            </li>
        </ul>

        <h2>Réseaux sociaux</h2>
        <ul>
            <li>
                <a href="{{ path('app_social_network_index') }}">Liste des réseaux sociaux</a>
            </li>
            <li>
                <a href="{{ path('app_social_network_new') }}">Ajouter un réseau social</a>
            </li>
            <li>
                <a href="{{ path('app_social_network_data_index') }}">Données des réseaux sociaux</a>
            </li>
            <li>
                <a href="{{ path('app_social_network_data_new') }}">Ajouter des données à un réseau</a>
            </li>
        </ul>

        <h2>Publications</h2>
        <ul>
            <li>
                <a href="">Liste des publications</a>
            </li>
            <li>
                <a href="">Ajouter une publication</a>
            </li>
        </ul>

        <h2>Imports depuis un CSV</h2>
        <ul>
            <li>
                <a href="">Importer des réseaux sociaux</a>
            </li>
            <li>
                <a href="">Importer des publications</a>
            </li>
        </ul>
    </nav>
</aside>